
@{
    ViewData["Title"] = "Index";
}

<h2>Cadastro Aluno</h2>

<div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Nome</span>
        <input type="text" class="form-control" aria-describedby="nome">

        <span class="input-group-addon" id="basic-addon2">SobreNome</span>
        <input type="text" class="form-control" aria-describedby="sobrenome">
    </div>


    <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Mãe</span>
        <input type="text" class="form-control" aria-describedby="mae">
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Pai</span>
        <input type="text" class="form-control" aria-describedby="pai">
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Idade</span>
        <input type="text" class="form-control" aria-describedby="idade">
    </div>
</div>